tr.header,
tr.navbar,
tr.footer,
#menu,
#content_r
{
  display:none;
}


#content
{ 
  padding:0px;
  background:#ffffff;  
}

body,
#vp
{ 
  margin:0px;
  padding:0px;
  background:#ffffff;  
}

#vp col
{
  width:21cm;  
}

table,
table td
{
  padding:0px;
  margin:0px;
}
