#content_spacer_l, 
#content_spacer_r
{
  background:url("../imgs/phloc_ci_content_spacer.png") repeat-x;
}

#content
{
  background:none !important;
  background-color:#ffffff;
  vertical-align:top;
  text-align:left;
  height:auto;
}

#content_r
{
  background:url("../imgs/content_bg_r.jpg") repeat-x 0px 0px;
}

tr.middle,
tr.middle td
{
  height:80%;
}
