div {
  a: -5;
  b: +5;
  c: 5;
  d: -5.12;
  e: +5.12;
  f: 5.12;
  g: -5.12%;
  h: +5.12%;
  i: 5.12%;
  j: -5px;
  k: +5px;
  l: 5px;
  m: 'string1';
  n: "string2";
  o: abc;
  p: from;
  q: to;
  r: url(a.gif);
  s: #123;
  t: function(5,6,abc);
  u: calc(4 + 5);
  v: inherit;
  w: u+1234;
}