
/* 
  Source of examples: http://www.w3.org/TR/css3-namespace/
*/
@namespace empty "";
@namespace "";

@namespace     "http://www.w3.org/1999/xhtml";
@namespace     svg    "http://www.w3.org/2000/svg"    ;

@namespace Q "http://example.com/q-markup";
@namespace lq "http://example.com/q-markup";

@namespace toto url("http://toto.example.org");
@namespace url("http://example.com/foo");

@namespace toto2 url(http://toto.example.org);
@namespace url(http://example.com/foo);

/* Example from issue 3 */

@namespace epub "http://www.idpf.org/2007/ops";

body {
    font-family: Georgia, serif;
}

/* This makes it 3.0 specific: ^=  ;-) */
div[epub|type^="chapter"] {
    background-image: url('childrens-book-swans.jpg'),
                      url('childrens-book-flowers.jpg');
    background-position: top right, bottom center;
    background-repeat: no-repeat, repeat-x;
    background-color: #fdefc2;
    padding: 2em;
}

foo|p { color:red; }

ns|E { color:red; }
*|E { color:red; }
|E { color:red; }
E { color:red; }

ns|* { color:red; }
*|* { color:red; }
|* { color:red; }
* { color:red; }

ns|E[ns|attr] { color:red; }
ns|E[*|attr] { color:red; }
ns|E[|attr] { color:red; }
ns|E[attr] { color:red; }
